body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 800px; /* 調整した最大幅 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color: orange;
    background-color: gray; /* 初期背景色 */
    font-weight: bold;
    border: 2px solid black; /* 枠線 */
    cursor: pointer;
    background-size: cover; /* 背景画像のサイズをカバーに設定 */
}

.hint-input, .end-turn, #hint-display {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counts {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popup button {
    margin-top: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
