/* G1-3ver2.0.css */
.Name {
   position: fixed;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   width: 100%; /* 幅を100%に設定 */
   text-align: center;
   z-index: 100; /* テキストが星の上に表示されるようにするための設定 */
}

.namebox {
   text-align: center;
   display: inline-block; /* インラインブロック要素に変更 */
   background-color: #2d73c2;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   color: #ffffff; /* 文字色を白に設定 */
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh; /* ページ全体を画面に合わせる */
   margin: 0; /* デフォルトのマージンを削除 */
   background-color: #f5f5f5;
   font-family: Arial, sans-serif;
}

.container {
   margin: AUTO;
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin-top: 90px; /* 上部のマージンを追加 */
}

.team-box {
   width: 30%;
   padding: 20px;
   border-radius: 10px;
   color: white;
   text-align: center;
}

.red-team {
   background-color: #ff4c4c;
}

.blue-team {
   background-color: #4c4cff;
}

.photo-container {
   position: relative;
   text-align: center;
}

.team-photo {
   width: 100%;
   border-radius: 10px;
}

.number {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 50%;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 1.2em;
}

.team-info {
   margin-top: 20px;
   text-align: center;
}

.info-box {
   width: 40%;
   padding: 20px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-box h1 {
   margin-bottom: 20px;
   margin-left: 150px;
}
.info-box h2 {
   margin-left: 100px;
}

.info-box p {
   border: 2px solid #000; /* 黒い枠を追加 */
   padding: 10px; /* 内側の余白を追加 */
   background-color: #f3f2f2; /* 背景色を白に設定 */
   color: #0e0d0d; /* 文字色を白に設定 */
   border-radius: 5px; /* 角を少し丸める */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 黒いシャドウを追加 */
}

.info-box {
   position: relative; /* 相対位置を設定 */
}


.info-box button {
   display: block; /* ボタンをブロック要素にする */
   margin: 0 auto; /* ボタンを中央に配置 */
   padding: 10px 20px; /* パディングを追加 */
   background-color: #007BFF; /* 背景色を設定 */
   color: white; /* 文字色を設定 */
   border: none; /* ボーダーを無しに設定 */
   cursor: pointer; /* カーソルをポインターに変更 */
   font-size: 16px; /* フォントサイズを設定 */
   position: absolute; /* 絶対位置を設定 */
   bottom: 100px; /* 下からの位置を設定 */
   left: 50%; /* 左からの位置を設定 */
   transform: translateX(-50%); /* 中央揃え */
}

.info-box button:hover {
   background-color: #0056b3; /* ホバー時の背景色を設定 */
}


.stars {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: linear-gradient(0deg, #00dedc, #115d89, #080f1c);
   overflow: hidden;
}

.star {
   position: absolute;
   display: block;
   background-color: #fff;
   border-radius: 50%;
   box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.2);
   opacity: 0;
   animation: twinkle 5s infinite;
}

@keyframes twinkle {
   0% {
       opacity: 0;
   }
   50% {
       transform: scale(1.1);
       opacity: 1;
   }
   100% {
       opacity: 0;
       transform: scale(1);
   }
}

.role-button {
   -webkit-transform: skew(-15deg);
   transform: skew(-15deg);
   color: #fff;
   border-radius: 0;
   background-image: -webkit-gradient(linear, left top, right top, from(#2af598), to(#009efd));
   background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
   background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   font-size: 1em; /* ボタンのテキストサイズを大きくする */
   padding: 10px 20px; /* ボタンのパディングを大きくする */
}

.role-button:hover {
   -webkit-transform: skew(0);
   transform: skew(0);
   color: #fff;
   -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
   box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

 



