header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 70px;
    color: rgb(243, 233, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}

nav h5 {
    margin: 0;
    color: rgb(255, 252, 252);
    padding-left: 140px;
    font-size: 20px; /* 文字の大きさを指定 */
}


.nav-buttons {
    display: flex;
    gap: 10px;
    position: absolute; 
    right: 50px; 
    top: 10px; 
}

.nav-buttons button {
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.popup {
    display: none;
    position: fixed;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    color: white;
    background-image: url('https://www.yuu-diaryblog.com/wp-content/uploads/2017/10/space-background13.jpg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}

.popup h1, .popup h2, .popup p {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border: none;
    color: white;
}

.close-button:hover {
    color: #ccc;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.overlay.active, .popup.active {
    display: block;
}
